.profile {
  margin-left: 100px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-color: rgb(233, 230, 230);
  border-style: solid;
  flex-direction: column;
}
.avatar {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.description {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  gap: 6px;
}
.tag {
  margin: 0;
  color: rgb(153, 146, 146);
}
.location {
  margin: 0;
  color: rgb(153, 146, 146);
}

.name {
  margin: 0;
}
.stats {
  padding: 0;
  margin: 16px 0 0 0;
  display: flex;
  list-style: none;
}
.label {
  text-align: center;
  color: black;
  font-weight: bold;
}

.quantity {
  display: flex;
  text-align: center;
  justify-content: center;
  color: rgb(153, 146, 146);
  
}
.list {
  text-align: center;
  border-style: solid;
  border-bottom-width: 2px;
  border-color: rgba(54, 52, 52, 0.226);
  padding: 10px;
  background-color: rgb(233, 230, 230);
  flex-basis: calc((100%) / 3);
}
